@charset "UTF-8";

body{
	background-color:#ddd;
}
.structure{
	background-color:#668099;
	height:550px;
	width:390px;
	border-radius:14px;
	margin:auto;
	top:200px;
	position:relative;
}


#subdisplay{
       font-size : 20px;
       
}

#display{
      

}
.display{
	position:relative;
	left:22px;
	top:20px;
}
.display input{
    
     
    height: 60px;
    width:340px; 
    background-color: #e6f2ff;    
    font-size: 35px;    
    text-align: right; 
    border:none;
 
}

.keys{
	position:relative;
	top:30px;
}

button    
{    
font-size: 20px;
width: 65px;    
height: 58px; 	   
border: none;    
border-radius: 8px;    
margin-left: 23px;    
cursor: pointer;    
border-top: 2px solid transparent; 
background-color : white;    
}  

::placeholder{
color:black;
}

button:hover{
	background-color: #e6e6ff;
	opacity:0.8;
}
