@charset "UTF-8";

body{
	background-color:#ddd;
}
.structure{
	background-color: 	 #8585ad;
	height:300px;
	width:270px;
	border-radius:14px;
	margin:auto;
	top:200px;
	position:relative;
}

.display{
	position:relative;
	left:15px;
	top:20px;
}
.display input{
	
    color: black;   
    width:230px; 
    background-color: #c4c4d4;    
    font-size: 21px;    
    text-align: right; 
    position:relative;
}

.keys{
	position:relative;
	top:15px;
}

button    
{    
width: 40px;    
height: 30px; 	   
border: none;    
border-radius: 8px;    
margin-left: 19px;    
cursor: pointer;    
border-top: 2px solid transparent;    
}  
button:hover{
	background-color: #e6e6ff;
	opacity:0.8;
}